/* #messages > li > span {
      font-size: 150%;
} */

#emoji-collapse > button {
      font-size: 150%;
}

/* All other devices */
#message-row {
      padding-bottom: 10%;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
      #message-row {
            padding-bottom: 8%;
      }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
      #message-row {
            padding-bottom: 4%;
      }
}